<!DOCTYPE html>
<html>
  <head>
    <title>Qいずくん</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="title">
        <span class="highlight">Q</span>いずくん
      </div>
    </header>

    <%= yield %>

  </body>
</html>
